*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto',
    sans-serif; */
}

#wrapper{
    margin: 0 auto;
    background-color:#1a1a1a;
    height: 1150px;
    width: 1205px;
    overflow: hidden; 
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo{
    display: flex;
}

#logo span{
   color: white;
   position: relative;
   left: 830px;
   top: 10px;
   font-size: 12px;
}
#logo img{
    width: 240px;
    position: relative;
    top: 2px;
    left: 33px;

}
#titles{
    background-color: #3a3a3a; 
    width: 1190px;
    position: relative;
    left: 7px;
    right: 5px;
    top: 10px;
   
}

#titles ul{
    display: flex;
    list-style-type: none;
    position: relative;
    top: 5px;
}

#titles ul li{
    color: #a8a5a5;
    margin: 20px 43px;
     border-right: 1px solid #515151; 
    padding-right: 12px;
    position: relative;
    bottom: 7px;
    font-size: 15px;
    padding-right: 15px;
    
}
#titles ul li:nth-child(6){
    border-right-style: none;
    
}
#titles ul li:first-child{
    color: white;
}

/* Main Content */
#mainImage{
    width:1189px;
    position: relative;
    left: 7px;
}

.sideByside{
    margin-top: 10px;
}
.sideByside ul {
    display: flex;
    list-style-type: none;
}

.sideByside ul li{
    margin: 10px 17px;
}
.sideByside span{
    color: #cf7b2e;
    position: relative; 
    bottom: 9px; 
}

.sideByside img{
    width:38px;
    height: 30px;
    position: relative; 
    top: 3px; 
}
.sideByside p{
    color: white;
    font-size: 10px;
    margin: 0px 50px 0px 42px; 
}
#sideColor{
    background-color: #1a1a1a;
    height: 100px;
}

#buttonBarSide{
    display: flex;
    color: white;
    background-color: black;
    margin: 10px 0px 10px 0px;
    width: 1205px;
    height: 100px;
    padding-top: 20px;
    }

    #leftside p{
        font-size: 10px;
    }
.button{
    text-align: center;
    background-color:#cf7b2e;
    color: white;
    border-radius: 5px;
    width: 90px;
    position: relative;
    left: 580px;
    height: 30px;
    top: 23px;

    /* width: 110px;
    padding: 20px;
    height: 0px;
    background-color: #cf7b2e;
    color: white;
    border-radius: 5px;
    position: relative;
    left: 440px; */
}

#buttonBarSide{
    margin-top: 20px;
}
#leftside{
    color:white;
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
#leftside h3{
    margin-bottom: 5px;
}

#portfolio{
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    margin-top: 20px;

}

 #portfolio span{
    color: white;
    position: relative;
    bottom: 5px;
 }

#portfolio span:first-child{
   margin-left: 30px;
}
#portfolio span:nth-child(2){
   position: relative;
   left: 1010px;
   color:#cf7b2e;
   font-size: 10px;
}

#images{
    display: flex;
    
}
.image{
    margin-left: 30px;
    width: 500px;
}
.image img{
    
    width: 250px;
    border: 2px solid #3a3a3a
}
.orange{
    color:#cf7b2e;
    margin-top: 3px;
}
.white{
    color:white;
    margin-top: 3px;
    margin-top: 5px;
    font-size: 12px;
}

#footer p{
    position: relative;
    left: 1110px;
    color: grey;
    bottom: 1px;
    padding-top: 70px;
    font-size: 10px;
}
